<!--
  Generated template for the DicasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Dicas iPelvis</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 text-center padding>
        <img src="../../assets/imgs/ipelvis_positivo.png">
      </ion-col>
    </ion-row>
    <ion-row no-padding class="list">
      <ion-col *ngFor="let dica of dicas; let i = index" (click)="onDicaClick(dica)" [ngStyle]="{'background' : backgrounds[i]}" text-center col-6>
        {{ dica.Nome }}
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
