<ion-header>

  <ion-navbar>
    <ion-title>{{this.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-slides [pager]="true">
    <ion-slide *ngFor="let pergunta of perguntas; let i = index">
        <pergunta [pergunta]="pergunta" (perguntaChange)="respostaEscolhida($event)"></pergunta>
        <ion-grid>
          <ion-row *ngIf="i < perguntas.length-1">
            <ion-col><button ion-button *ngIf="i > 0" (click)="perguntaAnterior()"><ion-icon name="arrow-back"></ion-icon> Anterior</button></ion-col>
            <ion-col><button ion-button *ngIf="i < perguntas.length" (click)="proximaPergunta()">Próxima <ion-icon name="arrow-forward"></ion-icon></button></ion-col>
          </ion-row>
          <ion-row *ngIf="i == perguntas.length-1">
            <ion-col><button ion-button *ngIf="i > 0" (click)="perguntaAnterior()"><ion-icon name="arrow-back"></ion-icon> Anterior</button></ion-col>
            <ion-col><button ion-button *ngIf="i < perguntas.length" (click)="finalizar()">Finalizar <!--<ion-icon name="arrow-forward"></ion-icon>--></button></ion-col>
          </ion-row>
        </ion-grid>
    </ion-slide>
  </ion-slides>

  <button ion-button (click)="log()">test</button>

</ion-content>
