page-tutorial {

    // Set image tutorial size
    .image-tutorial-size {
        width: 80vw;
    }

    .start-button {
        background-color: map-get($colors, orange-1);
        border-radius: 20px;
        width: 200px;
        margin-top: 20px;
        margin-left: 20px;
        color: white;
    }
}
