<ion-slides pager="true">

  <ion-slide>
    <img class="image-tutorial-size" src="../../assets/imgs/tutorial1.png" />
  </ion-slide>

  <ion-slide>
    <img class="image-tutorial-size" src="../../assets/imgs/tutorial1.png" />
  </ion-slide>

  <ion-slide>
    <img class="image-tutorial-size" src="../../assets/imgs/tutorial1.png" />
  </ion-slide>

  <ion-slide>
    <ion-row>
      <ion-col>
        <img class="image-tutorial-size" src="../../assets/imgs/tutorial1.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button class="start-button" (click)="openMenu()">Começar</button>
      </ion-col>
    </ion-row>
  </ion-slide>

</ion-slides>
