<ion-card *ngIf="pergunta">

  <ion-card-header>
    {{pergunta.titulo}}
  </ion-card-header>

  <ion-card-content>

    <small *ngIf="pergunta.descricao != null && pergunta.descricao != ''">
      {{pergunta.descricao}}
    </small>

    <ion-list *ngIf="pergunta.respostas && (pergunta.tipo == 1 || pergunta.tipo == 'lista')" [(ngModel)]="respostaSelecionada" radio-group>
      <ion-item *ngFor="let resposta of pergunta.respostas" text-wrap>
        <ion-label>{{resposta.valor}}</ion-label>
        <ion-radio (ionSelect)="onClickMethod(resposta)" [value]="resposta"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="pergunta.tipo == 2 || pergunta.tipo == 'number'">
      <ion-item>
        <ion-range min="1" max="6" [(ngModel)]="resposta" color="primary" pin="true"></ion-range>
      </ion-item>
    </ion-list>

  </ion-card-content>

</ion-card>
