pergunta {
  ion-item ion-label{
    font-size: 0.8em !important;
    color: #777;
  }
  .pergunta
  {
    color: #555;
    font-size: 1.2em;
    display: block;
    width: 100%;
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
  }
}
