<ion-list *ngFor="let midia of midiaList; let i = index" (click)="onItemSelected(midia, i)">

  <ion-item [ngClass]="{'selected-item': i == itemSelected}">
    <ion-thumbnail item-start>
      <img [src]="midia.UrlThumbnail">
    </ion-thumbnail>
    <h2>{{midia.Titulo}}</h2>
    <p>{{midia.Descricao}}</p>
  </ion-item>

</ion-list>