<ion-header>

  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title *ngIf="tipo == 'apresentacao'">Apresentação</ion-title>
    <ion-title *ngIf="tipo == 'dica'">Dica</ion-title>
    <ion-title *ngIf="tipo == 'exercicio'">Exercícios</ion-title>
    <ion-item *ngIf="tipo == 'tratamento'" class="select-item">
      <ion-label style="display: none">Fase</ion-label>
      <ion-select [(ngModel)]="faseSelected" (ionChange)="onClickChangeFase()" class="select-button">
        <ion-option *ngFor="let fase of fases" [value]="fase">Fase {{fase}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <video-player [midia]="midiaSelected"></video-player>

  <videos-list [midiaList]="midiaList" (onItemClicked)="onMidiaSelected($event)"></videos-list>

  <div class="quiz-button-div" *ngIf="mostrarBotaoQuestionario">
    <button ion-button color="orange-1" class="quiz-button" (click)="onClickQuizButton()">Questionário</button>
  </div>
</ion-content>
