page-treatment {

    .select-item {
        width: 80%;   
        border-radius: 10px; 
    }

    .quiz-button-div {
        width: 100%;
        text-align: center;
    }

    .quiz-button {
        border-radius: 10px;
    }
}
