<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar style="text-align: center;">
            <ion-title>Meu iPelvis</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-content class="menu-content">
        <!-- <ion-item class="menu-button"> -->
            <!-- <ion-label>Menu Principal</ion-label> -->
            <div style="color: grey-1; font-size: 18px; margin-left: 10px; margin-top: 17px;" menuClose (click)="onClickMenuPrincipal()">Menu Principal</div>
            <div style="margin-left: 40px;">
                <button ion-item menuClose *ngFor="let p of mainMenuPages" (click)="openPage(p)" class="menu-button">
                    {{p.title}}
                    <!-- <ion-icon name="arrow-forward" style="float:right;"></ion-icon> -->
                </button>    
            </div>
        <!-- </ion-item> -->
        <ion-list>
            <button ion-item menuClose *ngFor="let p of menuPages" (click)="openPage(p)" class="menu-button">
                {{p.title}}
                <!-- <ion-icon name="arrow-forward" style="float:right;"></ion-icon> -->
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
