page-estatisticas {

    // Título da pergunta
    .question-title {
        font-size: 20px;
        color: color($colors, orange-1);
    }

    .title-item {
        width: 100%;
        text-align: center;
        margin-bottom: 10vh;
    }

}
