<ion-header>

  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Estatísticas</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-slides pager="true">

    <ion-slide *ngFor="let statistic of statistics;" >
      <ion-item no-lines class="title-item">
        <ion-label class="question-title">
          {{statistic.Pergunta}}
        </ion-label>
      </ion-item>

      
      <!-- <div id="chart_div">

      </div> -->
      <div #charts>

      </div>

      <div style="width: 100%; text-align: center;" *ngIf="statistic.respostas ? statistic.respostas.length == 0 : false">
        <ion-item no-lines class="title-item">
          <ion-label>
            Nenhuma resposta cadastrada
          </ion-label>
        </ion-item>
      </div>
    </ion-slide>
  
  </ion-slides>

  

</ion-content>
