page-config {

    // Style option button
    .option-button {
        width: 90vw;
        border-radius: 1px solid;
        color: white;
        background-color: map-get($colors, yellow-1);
    }

    .button-row {
        width: 100%;
        text-align: center;
    }

}
