<ion-header>

  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Configurações</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>
    <button ion-button class="option-button" (click)="onClickChangePassword()">Alterar email ou senha</button>
  </ion-row>

  <ion-row>
    <button ion-button class="option-button">Pagamento</button>
  </ion-row>

  <ion-row>
    <button ion-button class="option-button" (click)="onClickCodigoAtivacao()">Código de ativação</button>
  </ion-row>

  <ion-row *ngIf="false">
    <button ion-button class="option-button">Outros</button>
  </ion-row>

</ion-content>
