<ion-header>

  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Meu diário</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <calendar [eventSource]="datasource"
            [calendarMode]="calendar.mode"
            [allDayLabel]="calendar.allDayLabel"
            [currentDate]="calendar.currentDate"
            [noEventsLabel]="calendar.noEventsLabel"
            (onCurrentDateChanged)="onCurrentDateChanged($event)"
            (onRangeChanged)="reloadSource(startTime, endTime)"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            (onTimeSelected)="onTimeSelected($event)"
            step="30">
  </calendar>

</ion-content>
