<div class="div-midia-content" *ngIf="midia?.Tipo == 'video'">
  <iframe [src]="sanitizedUrl()" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div class="div-midia-content" *ngIf="midia?.Tipo == 'imagem'">
  <img [src]="midia.Url">
</div>

<div class="div-midia-content" *ngIf="midia?.Tipo == 'exercicio'">
  <img [src]="midia.Url">
</div>

<div style="margin-top: 10px;">
  <h3>{{midia?.Titulo}}</h3>
  <p>{{midia?.Descricao}}</p>
</div>