<ion-header>

  <ion-navbar>
    <ion-title>Alterar senha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="input-passwords-div">
    <input class="input-change-password" [(ngModel)]="password" type="password" placeholder="Senha"/>
    <br>
    <input class="input-change-password" [(ngModel)]="repeatPassword" type="password" placeholder="Repetir senha"/>
    <br>
    <button class="button-send" (click)="onClickChangePassword()">Alterar senha</button>
  </div>

</ion-content>
