page-change-password {

    // Div containing inputs
    .input-passwords-div {
        width: 100%;
        text-align: center;
    }

    // Style change password input
    .input-change-password {
        margin-top: 10px;
        height: 40px;
        border: 1px solid map-get($colors, yellow-1);
        border-radius: 10px;
        width: 80%;
        padding: 10px;
    }

    // Send button
    .button-send {
        margin-top: 10px;
        width: 80%;
        height: 60px;
        line-height: 60px;
        background-color: map-get($colors, orange-1);
        border-radius: 10px;
        color: white;
    }
}
