<!--
  Generated template for the AtivacaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Código de ativação</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <br>
  <div text-center *ngIf="paciente.TokenAtivacao || paciente.Pagante == 1">
    <p>Você já possui o iPelvis ativado e pago :)</p>
    <br>
  </div>
  <div class="input-passwords-div">
    <input class="input-change-password" [(ngModel)]="codigoAtivacao" type="texto" placeholder="Código de ativação" />
    <br>
    <button class="button-send" [disabled]="paciente.TokenAtivacao" (click)="onClickAtivar()">Ativar</button>
  </div>

</ion-content>
