<ion-header>

  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>iPelvis</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-grid text-center>

    <ion-row>
      <ion-col col-6 padding>
        <img src="../../assets/imgs/apresentacao.png" (click)="openApresentacao()">
        Apresentação
      </ion-col>
      <ion-col col-6 padding (click)="openTratamento()" [ngStyle]="{'opacity': pacienteTratamento ? 1 : 0.4}" >
        <img src="../../assets/imgs/tratamento.png">
        Tratamento
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 padding (click)="openMeuDiario()" [ngStyle]="{'opacity': pacienteTratamento ? 1 : 0.4}" >
        <img src="../../assets/imgs/meudiario.png">
        Meu diário
      </ion-col>
      <ion-col col-6 padding (click)="openExercicio()" [ngStyle]="{'opacity': pacienteTratamento ? 1 : 0.4}" >
        <img src="../../assets/imgs/exercicios.png">
        Exercícios
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 padding (click)="openDicas()" [ngStyle]="{'opacity': pacienteTratamento ? 1 : 0.4}" >
        <img src="../../assets/imgs/dicas.png">
        Dicas
      </ion-col>
      <ion-col col-6 padding (click)="openConfig()" [ngStyle]="{'opacity': pacienteTratamento ? 1 : 0.4}" >
        <img src="../../assets/imgs/outros.png">
        Configuração
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
