<ion-content padding>

  <ion-tabs>
    <ion-tab [root]="calendarioRoot" [rootParams]="{}" tabTitle="Calendário" tabIcon="calendar"></ion-tab>
    <ion-tab [root]="estatisticasRoot" [rootParams]="{}" tabTitle="Estatísticas" tabIcon="stats"></ion-tab>
  </ion-tabs>

</ion-content>
